.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.img__oKrhT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  min-width: 0;
  min-height: 0;
}
.img__oKrhT > picture > img {
  object-fit: cover;
}
.img__oKrhT > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.navigationBar__n78Ja:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: var(--token-cL82EQzkWLmlW);
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.link__eLe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__bViG8 {
  position: relative;
  object-fit: cover;
  width: 180px;
  height: var(--token-FUhe_uDs6);
  color: var(--token-cL82EQzkWLmlW);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__bViG8 {
    width: 120px;
    flex-shrink: 0;
  }
}
.img__inUzL {
  object-fit: cover;
  display: none !important;
}
.img__inUzL > picture > img {
  object-fit: cover;
}
.img__inUzL > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.svg__srWDk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-8gztQ3UHu);
  color: var(--token-cL82EQzkWLmlW);
  height: 1em;
  display: block;
}
.img___70U2 {
  object-fit: cover;
}
.img___70U2 > picture > img {
  object-fit: cover;
}
.img___70U2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___6YYn {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: var(--token-yBlna5z1A);
}
.freeBox___6YYn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-AvH4SFqUT));
  width: calc(100% + var(--token-AvH4SFqUT));
}
.freeBox___6YYn > :global(.__wab_flex-container) > *,
.freeBox___6YYn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6YYn > :global(.__wab_flex-container) > picture > img,
.freeBox___6YYn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-AvH4SFqUT);
}
.freeBox___6YYn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: var(--token-yBlna5z1A);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6YYn {
    display: flex;
    flex-direction: column;
    background: var(--token-Oma3iF8wjdtxn);
    box-shadow: 10px 10px 0px 0px var(--token-9tzej17HIQvdz);
    margin-top: 24px;
    border: 4px solid var(--token-favT6QS-Y);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6YYn > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-yBlna5z1A));
    height: calc(100% + var(--token-yBlna5z1A));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6YYn > :global(.__wab_flex-container) > *,
  .freeBox___6YYn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6YYn > :global(.__wab_flex-container) > picture > img,
  .freeBox___6YYn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-yBlna5z1A);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6YYn {
    display: flex;
    flex-direction: column;
    background: var(--token-Oma3iF8wjdtxn);
    box-shadow: 10px 10px 0px 0px var(--token-9tzej17HIQvdz);
    margin-top: 24px;
    border: 4px solid var(--token-favT6QS-Y);
  }
}
.link__tMoVd {
  position: relative;
  display: flex;
}
.button__tnCdY:global(.__wab_instance) {
  max-width: 100%;
}
.svg__s0VZw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__slq4N {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__bO3X {
  position: relative;
  display: flex;
}
.button__sQn5Z:global(.__wab_instance) {
  max-width: 100%;
}
.svg__tvAlr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___65Pj7 {
  color: var(--token-favT6QS-Y);
}
.svg__bOtsw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__f01L {
  position: relative;
  display: flex;
}
.button___8K9Do:global(.__wab_instance) {
  max-width: 100%;
}
.svg___3IcF {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ljd5V {
  color: var(--token-favT6QS-Y);
}
.svg__d7UMj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__jreUs {
  position: relative;
  display: flex;
}
.button___6PvPz:global(.__wab_instance) {
  max-width: 100%;
}
.svg__aNn9K {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__wCl05 {
  color: var(--token-favT6QS-Y);
}
.svg__s0W6L {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__gtndA {
  position: relative;
  display: flex;
}
.button__jpFe6:global(.__wab_instance) {
  max-width: 100%;
}
.svg___5MYyH {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___5NaDo {
  color: var(--token-favT6QS-Y);
}
.svg__vc8Nt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__nlbM {
  position: relative;
  display: flex;
}
.button__sLh0F:global(.__wab_instance) {
  max-width: 100%;
}
.svg__cEZaa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__v2F0 {
  color: var(--token-favT6QS-Y);
}
.svg__gmhV7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1080px;
  top: auto;
  left: auto;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  padding: var(--token-llwviJaI0) 0px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: var(--token-yBlna5z1A);
    padding-right: var(--token-yBlna5z1A);
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__j9R6Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__j9R6Y > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-yBlna5z1A));
  height: calc(100% + var(--token-yBlna5z1A));
}
.column__j9R6Y > :global(.__wab_flex-container) > *,
.column__j9R6Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__j9R6Y > :global(.__wab_flex-container) > picture > img,
.column__j9R6Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-yBlna5z1A);
}
.column__j9R6Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Oma3iF8wjdtxn);
  min-width: 0;
}
.nuImageSeal {
  width: 156px;
  height: 156px;
  display: block;
  position: relative;
  background: url("/plasmic/nu_website/images/group4.svg") top 50% left 50% / contain no-repeat
    content-box padding-box;
  flex-shrink: 0;
  padding: var(--token-FUhe_uDs6);
}
.nuImageSealWords {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Oma3iF8wjdtxn);
  width: 100%;
  height: 100%;
  display: block;
  top: 0px;
  left: 0px;
  min-width: 0;
  min-height: 0;
}
.column__zpJsO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.form:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.navigationBar___3ScTu:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: var(--token-cL82EQzkWLmlW);
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.link__jryQ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg___888G {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 180px;
  height: var(--token-FUhe_uDs6);
  color: var(--token-cL82EQzkWLmlW);
  flex-shrink: 0;
}
.img__brNdv {
  object-fit: cover;
  display: none !important;
}
.img__brNdv > picture > img {
  object-fit: cover;
}
.img__brNdv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.svg__a1EnO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-8gztQ3UHu);
  color: var(--token-cL82EQzkWLmlW);
  height: 1em;
  display: block;
}
.img__cAdCg {
  object-fit: cover;
}
.img__cAdCg > picture > img {
  object-fit: cover;
}
.img__cAdCg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___89YFc {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: var(--token-yBlna5z1A);
}
.freeBox___89YFc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-AvH4SFqUT));
  width: calc(100% + var(--token-AvH4SFqUT));
}
.freeBox___89YFc > :global(.__wab_flex-container) > *,
.freeBox___89YFc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___89YFc > :global(.__wab_flex-container) > picture > img,
.freeBox___89YFc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-AvH4SFqUT);
}
.freeBox___89YFc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: var(--token-yBlna5z1A);
}
.link__ohur {
  position: relative;
  display: flex;
}
.button__mx6Dt:global(.__wab_instance) {
  max-width: 100%;
}
.svg__uzJuZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__q7Byw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link___5Famg {
  position: relative;
  display: flex;
}
.button___59Eq:global(.__wab_instance) {
  max-width: 100%;
}
.svg___92GH2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__tpT4M {
  color: var(--token-favT6QS-Y);
}
.svg___2NYd3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__os3Qy {
  position: relative;
  display: flex;
}
.button__ryeft:global(.__wab_instance) {
  max-width: 100%;
}
.svg__nomEo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___4IOc3 {
  color: var(--token-favT6QS-Y);
}
.svg___5Wkyw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__eipq3 {
  position: relative;
  display: flex;
}
.button__da9P3:global(.__wab_instance) {
  max-width: 100%;
}
.svg__mZbDh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___8G3ZA {
  color: var(--token-favT6QS-Y);
}
.svg__cgUXe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__j8IqD {
  position: relative;
  display: flex;
}
.button__c2ZqS:global(.__wab_instance) {
  max-width: 100%;
}
.svg___9ZLi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__f7Huq {
  color: var(--token-favT6QS-Y);
}
.svg__vvJfn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link___9AT2U {
  position: relative;
  display: flex;
}
.button__kRtSo:global(.__wab_instance) {
  max-width: 100%;
}
.svg__v4J44 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___0IAkk {
  color: var(--token-favT6QS-Y);
}
.svg___0FWr3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
