.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-Oma3iF8wjdtxn);
  min-width: 0;
  min-height: 0;
}
.headerHeroPage:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__k7QYa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
}
.img__k7QYa > picture > img {
  object-fit: cover;
}
.img__k7QYa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.navigationBar__wkIRe:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: var(--token-cL82EQzkWLmlW);
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.link__xjg5H {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__sDnCh {
  position: relative;
  object-fit: cover;
  width: 180px;
  height: var(--token-FUhe_uDs6);
  color: var(--token-cL82EQzkWLmlW);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__sDnCh {
    width: 120px;
    flex-shrink: 0;
  }
}
.img___5WR9D {
  object-fit: cover;
  display: none !important;
}
.img___5WR9D > picture > img {
  object-fit: cover;
}
.img___5WR9D > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.svg__pBiNz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-8gztQ3UHu);
  color: var(--token-cL82EQzkWLmlW);
  height: 1em;
  display: block;
}
.img__fShLf {
  object-fit: cover;
}
.img__fShLf > picture > img {
  object-fit: cover;
}
.img__fShLf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__vhcH1 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: var(--token-yBlna5z1A);
}
.freeBox__vhcH1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-AvH4SFqUT));
  width: calc(100% + var(--token-AvH4SFqUT));
}
.freeBox__vhcH1 > :global(.__wab_flex-container) > *,
.freeBox__vhcH1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vhcH1 > :global(.__wab_flex-container) > picture > img,
.freeBox__vhcH1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-AvH4SFqUT);
}
.freeBox__vhcH1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: var(--token-yBlna5z1A);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vhcH1 {
    display: flex;
    flex-direction: column;
    background: var(--token-Oma3iF8wjdtxn);
    box-shadow: 10px 10px 0px 0px var(--token-9tzej17HIQvdz);
    margin-top: 24px;
    border: 4px solid var(--token-favT6QS-Y);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vhcH1 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-yBlna5z1A));
    height: calc(100% + var(--token-yBlna5z1A));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vhcH1 > :global(.__wab_flex-container) > *,
  .freeBox__vhcH1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vhcH1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__vhcH1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-yBlna5z1A);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vhcH1 {
    display: flex;
    flex-direction: column;
    background: var(--token-Oma3iF8wjdtxn);
    box-shadow: 10px 10px 0px 0px var(--token-9tzej17HIQvdz);
    margin-top: 24px;
    border: 4px solid var(--token-favT6QS-Y);
  }
}
.link__dcZ5Z {
  position: relative;
  display: flex;
}
.button___2CcMa:global(.__wab_instance) {
  max-width: 100%;
}
.svg__r9CfU {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dnvyA {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link___2A7G9 {
  position: relative;
  display: flex;
}
.button___9Nf7L:global(.__wab_instance) {
  max-width: 100%;
}
.svg__zLv8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ni9J6 {
  color: var(--token-favT6QS-Y);
}
.svg__chfat {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__yp3Be {
  position: relative;
  display: flex;
}
.button__jHllm:global(.__wab_instance) {
  max-width: 100%;
}
.svg__jKc7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___57UzQ {
  color: var(--token-favT6QS-Y);
}
.svg__nLvVb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__fZvrM {
  position: relative;
  display: flex;
}
.button__eDetg:global(.__wab_instance) {
  max-width: 100%;
}
.svg__kxCG {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__yHhNe {
  color: var(--token-favT6QS-Y);
}
.svg__iqEzr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__f5G7Q {
  position: relative;
  display: flex;
}
.button___5DlO5:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wx0VM {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__oRLgg {
  color: var(--token-favT6QS-Y);
}
.svg__reH0F {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__sPQl {
  position: relative;
  display: flex;
}
.button__qKy9U:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wDIh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__mqIo {
  color: var(--token-favT6QS-Y);
}
.svg__uKcX9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__wOhzA {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 1080px;
  grid-row-gap: var(--token-AvH4SFqUT);
  grid-column-gap: var(--token-AvH4SFqUT);
  padding-top: var(--token-llwviJaI0);
  padding-bottom: var(--token-llwviJaI0);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wOhzA {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding-right: var(--token-yBlna5z1A);
    padding-left: var(--token-yBlna5z1A);
  }
}
.cmsDataFetcher:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.cmsEntryLink:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.link___5M3Tp {
  position: relative;
  display: flex;
}
.articlesClipping:global(.__wab_instance) {
  max-width: 1080px;
}
.cmsEntryImage:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.nuArticleImage {
  object-fit: cover;
  max-width: 100%;
  height: 200px;
  width: 100%;
  opacity: 1;
  min-width: 0;
}
.nuArticleImage > picture > img {
  object-fit: cover;
}
.nuArticleImage > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.cmsEntryField__cJBS:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.cmsEntryField___8Tkut:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.cmsEntryField__o0VAh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.cmsEntryField__iBwD:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.cmsEntryField__t7RW:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.cmsEntryField___8Estr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__kme9S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__e2Ieq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.navigationBar__dEish:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: var(--token-cL82EQzkWLmlW);
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.link__hMidO {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__qakEs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 180px;
  height: var(--token-FUhe_uDs6);
  color: var(--token-cL82EQzkWLmlW);
  flex-shrink: 0;
}
.img__ePwun {
  object-fit: cover;
  display: none !important;
}
.img__ePwun > picture > img {
  object-fit: cover;
}
.img__ePwun > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.svg__xmPv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-8gztQ3UHu);
  color: var(--token-cL82EQzkWLmlW);
  height: 1em;
  display: block;
}
.img__f2Diw {
  object-fit: cover;
}
.img__f2Diw > picture > img {
  object-fit: cover;
}
.img__f2Diw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__ryZf0 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: var(--token-yBlna5z1A);
}
.freeBox__ryZf0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-AvH4SFqUT));
  width: calc(100% + var(--token-AvH4SFqUT));
}
.freeBox__ryZf0 > :global(.__wab_flex-container) > *,
.freeBox__ryZf0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ryZf0 > :global(.__wab_flex-container) > picture > img,
.freeBox__ryZf0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-AvH4SFqUT);
}
.freeBox__ryZf0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: var(--token-yBlna5z1A);
}
.link___6T5X {
  position: relative;
  display: flex;
}
.button__cHZy8:global(.__wab_instance) {
  max-width: 100%;
}
.svg__hq6NJ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__oIpA {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__yDLp {
  position: relative;
  display: flex;
}
.button__fzS7A:global(.__wab_instance) {
  max-width: 100%;
}
.svg__qcdy6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__wukzR {
  color: var(--token-favT6QS-Y);
}
.svg__l3QxQ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__pvopn {
  position: relative;
  display: flex;
}
.button___6Syf3:global(.__wab_instance) {
  max-width: 100%;
}
.svg__rhruP {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__nnFoc {
  color: var(--token-favT6QS-Y);
}
.svg___1HDi3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__iZjr0 {
  position: relative;
  display: flex;
}
.button__zrMg0:global(.__wab_instance) {
  max-width: 100%;
}
.svg__fgdy4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___0IWe {
  color: var(--token-favT6QS-Y);
}
.svg__eQ7RF {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__i5VJt {
  position: relative;
  display: flex;
}
.button__sLRs:global(.__wab_instance) {
  max-width: 100%;
}
.svg__sNp1H {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__b7XsB {
  color: var(--token-favT6QS-Y);
}
.svg__a7ChP {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__jandY {
  position: relative;
  display: flex;
}
.button__bQmws:global(.__wab_instance) {
  max-width: 100%;
}
.svg__l98Yt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__d8Wxa {
  color: var(--token-favT6QS-Y);
}
.svg__lyMi3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
