.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-Oma3iF8wjdtxn);
  min-width: 0;
  min-height: 0;
}
.headerHeroPage:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__dTnWx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
}
.img__dTnWx > picture > img {
  object-fit: cover;
}
.img__dTnWx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.navigationBar__c1Vcn:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: var(--token-cL82EQzkWLmlW);
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.link__achNp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__av2HK {
  position: relative;
  object-fit: cover;
  width: 180px;
  height: var(--token-FUhe_uDs6);
  color: var(--token-cL82EQzkWLmlW);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__av2HK {
    width: 120px;
    flex-shrink: 0;
  }
}
.img__ztTfg {
  object-fit: cover;
  display: none !important;
}
.img__ztTfg > picture > img {
  object-fit: cover;
}
.img__ztTfg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.svg___6Ty32 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-8gztQ3UHu);
  color: var(--token-cL82EQzkWLmlW);
  height: 1em;
  display: block;
}
.img__pJ0L {
  object-fit: cover;
}
.img__pJ0L > picture > img {
  object-fit: cover;
}
.img__pJ0L > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__escM {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: var(--token-yBlna5z1A);
}
.freeBox__escM > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-AvH4SFqUT));
  width: calc(100% + var(--token-AvH4SFqUT));
}
.freeBox__escM > :global(.__wab_flex-container) > *,
.freeBox__escM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__escM > :global(.__wab_flex-container) > picture > img,
.freeBox__escM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-AvH4SFqUT);
}
.freeBox__escM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: var(--token-yBlna5z1A);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__escM {
    display: flex;
    flex-direction: column;
    background: var(--token-Oma3iF8wjdtxn);
    box-shadow: 10px 10px 0px 0px var(--token-9tzej17HIQvdz);
    margin-top: 24px;
    border: 4px solid var(--token-favT6QS-Y);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__escM > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-yBlna5z1A));
    height: calc(100% + var(--token-yBlna5z1A));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__escM > :global(.__wab_flex-container) > *,
  .freeBox__escM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__escM > :global(.__wab_flex-container) > picture > img,
  .freeBox__escM
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-yBlna5z1A);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__escM {
    display: flex;
    flex-direction: column;
    background: var(--token-Oma3iF8wjdtxn);
    box-shadow: 10px 10px 0px 0px var(--token-9tzej17HIQvdz);
    margin-top: 24px;
    border: 4px solid var(--token-favT6QS-Y);
  }
}
.link__qawoe {
  position: relative;
  display: flex;
}
.button___9Cl8K:global(.__wab_instance) {
  max-width: 100%;
}
.svg___3AgdG {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__bx2Ck {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link___6Zsi7 {
  position: relative;
  display: flex;
}
.button__kTGpQ:global(.__wab_instance) {
  max-width: 100%;
}
.svg__iHdzh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__rf0Ye {
  color: var(--token-favT6QS-Y);
}
.svg__sl9Pp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__r7B4 {
  position: relative;
  display: flex;
}
.button__wHtQw:global(.__wab_instance) {
  max-width: 100%;
}
.svg___11Ith {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___2Q9Sp {
  color: var(--token-favT6QS-Y);
}
.svg__ei1Pi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__ank12 {
  position: relative;
  display: flex;
}
.button__hP3Ow:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ssOYr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__gQOc2 {
  color: var(--token-favT6QS-Y);
}
.svg__flXfb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__og67M {
  position: relative;
  display: flex;
}
.button__vz5B9:global(.__wab_instance) {
  max-width: 100%;
}
.svg__u6DCw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__mQoZm {
  color: var(--token-favT6QS-Y);
}
.svg__rmC0Z {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__dzdHr {
  position: relative;
  display: flex;
}
.button___6QnWn:global(.__wab_instance) {
  max-width: 100%;
}
.svg__bShJc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__uzx5 {
  color: var(--token-favT6QS-Y);
}
.svg__xBAo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__lxb93 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 1080px;
  grid-row-gap: var(--token-AvH4SFqUT);
  grid-column-gap: var(--token-AvH4SFqUT);
  padding-top: var(--token-llwviJaI0);
  padding-bottom: var(--token-llwviJaI0);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lxb93 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding-right: var(--token-yBlna5z1A);
    padding-left: var(--token-yBlna5z1A);
  }
}
.cmsDataFetcher:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.cmsEntryLink:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.link__rDOvM {
  position: relative;
  display: flex;
}
.articlesClipping:global(.__wab_instance) {
  max-width: 1080px;
}
.cmsEntryImage:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.nuArticleImage {
  object-fit: cover;
  max-width: 100%;
  height: 200px;
  width: 100%;
  opacity: 1;
  min-width: 0;
}
.nuArticleImage > picture > img {
  object-fit: cover;
}
.nuArticleImage > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.cmsEntryField__qLqxO:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.cmsEntryField__yfS0M:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.cmsEntryField__sryN1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.cmsEntryField__zdVu4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.cmsEntryField___9QLgy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.cmsEntryField__xDx7I:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__kQ0K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__yHj7E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.navigationBar___2YMvm:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: var(--token-cL82EQzkWLmlW);
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.link__sBjpM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__pVPt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 180px;
  height: var(--token-FUhe_uDs6);
  color: var(--token-cL82EQzkWLmlW);
  flex-shrink: 0;
}
.img__oJkOq {
  object-fit: cover;
  display: none !important;
}
.img__oJkOq > picture > img {
  object-fit: cover;
}
.img__oJkOq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.svg__pVuS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-8gztQ3UHu);
  color: var(--token-cL82EQzkWLmlW);
  height: 1em;
  display: block;
}
.img__jTnzh {
  object-fit: cover;
}
.img__jTnzh > picture > img {
  object-fit: cover;
}
.img__jTnzh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__vXmT9 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: var(--token-yBlna5z1A);
}
.freeBox__vXmT9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-AvH4SFqUT));
  width: calc(100% + var(--token-AvH4SFqUT));
}
.freeBox__vXmT9 > :global(.__wab_flex-container) > *,
.freeBox__vXmT9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vXmT9 > :global(.__wab_flex-container) > picture > img,
.freeBox__vXmT9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-AvH4SFqUT);
}
.freeBox__vXmT9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
  padding: var(--token-yBlna5z1A);
}
.link__ntjHd {
  position: relative;
  display: flex;
}
.button__dwg9Q:global(.__wab_instance) {
  max-width: 100%;
}
.svg__eeQgb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__v0SPt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__ak2W {
  position: relative;
  display: flex;
}
.button__pcFyI:global(.__wab_instance) {
  max-width: 100%;
}
.svg__p14Tq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___5Owq {
  color: var(--token-favT6QS-Y);
}
.svg__m4Ss9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__xDYqH {
  position: relative;
  display: flex;
}
.button__oVjMb:global(.__wab_instance) {
  max-width: 100%;
}
.svg__pBAyS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___3YBa {
  color: var(--token-favT6QS-Y);
}
.svg__f86RC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link___96HaC {
  position: relative;
  display: flex;
}
.button___9HTrH:global(.__wab_instance) {
  max-width: 100%;
}
.svg__eiGt8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__q8I0P {
  color: var(--token-favT6QS-Y);
}
.svg__vcBWs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__orMoO {
  position: relative;
  display: flex;
}
.button___2HBf3:global(.__wab_instance) {
  max-width: 100%;
}
.svg__cDsd5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___2Sanc {
  color: var(--token-favT6QS-Y);
}
.svg__uq1NA {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__jBrXn {
  position: relative;
  display: flex;
}
.button___0Ei3:global(.__wab_instance) {
  max-width: 100%;
}
.svg___7NdL8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__rh3E {
  color: var(--token-favT6QS-Y);
}
.svg__tGwn3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
